<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおススメの回は…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @res.question == "1111" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４</p>

    <% elsif @res.question == "1112" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４，９３</p>

    <% elsif @res.question == "1121" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４</p>

    <% elsif @res.question == "1122" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４，９３</p>

    <% elsif @res.question == "1211" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４</p>

    <% elsif @res.question == "1212" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４，９３</p>

    <% elsif @res.question == "1221" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４</p>

    <% elsif @res.question == "1222" %>
    <h6>マユリカのうなげろりん１</h6>
    <p>普段からラジオに聴きなれているあなたはぜひ第１回から聴いていただきたい!!</p>
    <p>特におススメの回は２，１０５，４８，１２４，９３</p>

    <% elsif @res.question == "2111" %>
    <h6>マユリカのうなげろりん２</h6>
    <p></p>
    <p>美容効果が高い</p>

    <% elsif @res.question == "2112" %>
    <h6>マユリカのうなげろりん９３</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>

    <% elsif @res.question == "2121" %>
    <h6>マユリカのうなげろりん２</h6>
    <p>雄のジャコウジカの腹部にある香嚢から抽出した香料</p>
    <p>官能的で重い香り</p>

    <% elsif @res.question == "2122" %>
    <h6>マユリカのうなげろりん９３</h6>
    <p>マッコウクジラの結石から抽出した香料</p>
    <p>魅惑的で色気のある香り</p>

    <% elsif @res.question == "2211" %>
    <h6>マユリカのうなげろりん２</h6>
    <p>甘いスパイスの香り</p>
    <p>香水のアクセントとしてよく使われる</p>

    <% elsif @res.question == "2212" %>
    <h6>マユリカのうなげろりん９３</h6>
    <p>甘くて官能的な香り</p>
    <p>上品で年齢を問わず人気が高い</p>

    <% elsif @res.question == "2221" %>
    <h6>マユリカのうなげろりん２</h6>
    <p>色気のある濃厚で甘い香り</p>
    <p>恋愛に効果があり</p>

    <% elsif @res.question == "2222" %>
    <h6>マユリカのうなげろりん９３</h6>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% end %>

</div>