<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>香水診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <header>
            <h1 class="headline">
            <a>合言葉を入力</a>
            </h1>
            <ul class="nav-list">
                <li class="nav-list-item"><%= link_to "診断", ais_path, class: "link" %></li>
            </ul>
        </header>

        <div class="start">
            <h6>合言葉を入力しなさい</h6>
            <h7>→→→</h7>
            <%= link_to "合言葉", new_ai_path, class: "link" %>
        </div>
    </body>